.wraper {
    position: relative;
    text-align: center;
}
.img {
    width: 600px;
    height: 500px; 
}
.div {
    position: relative;
    display: inline-block;
    
}
.imgThumbnails {
    width: 80px;
    height: 50px;
    margin: 10px;
}